@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  width: 100vw;
}

.navbar-bg {
  background: linear-gradient(90deg,
      rgba(1, 1, 55, 0.5) 0%,
      rgba(2, 0, 11, 0.5) 50%,
      rgba(35, 1, 62, 0.5) 100%);


}

.wrapper-bg {
  background: linear-gradient(to bottom right,
      #FF3C00 0%,
      #010117 15%,
      #010117 50%,
      #02000D 85%,
      #004AAD 100%);
}

.reverse-wrapper-bg {
  background: linear-gradient(to top right,
      #FF3C00 0%,
      #010117 15%,
      #010117 50%,
      #02000D 85%,
      #004AAD 100%);
}

.timeline-bg {
  background: linear-gradient(to bottom right,
      #FF3C00 0%,
      #010117 15%,
      #010117 45%,
      #01061C 55%,
      #01061C 100%);
}

.sponsors-bg {
  background: linear-gradient(to bottom, #04061b00 60%, #010827 100%), url('./assets/SponsorsBackground.png');
  background-size: cover;
}

.faq-bg {
  background: linear-gradient(to top right,
      #FF3C00 0%,
      #010117 15%,
      #010117 45%,
      #01061C 55%,
      #01061C 100%);
}